asm_demos/demo_00.boilerplate/main
asm_demos/demo_01.helloworld/main
asm_demos/demo_02.addition/main
asm_demos/demo_03.subtraction/main
asm_demos/demo_04.multiplication/main
asm_demos/demo_05.division/main
asm_demos/demo_06.conditionals_ifs/main
asm_demos/demo_07.conditionals_if_elses/main

asm_demos/demo_00.boilerplate/*.o
asm_demos/demo_01.helloworld/*.o
asm_demos/demo_02.addition/*.o
asm_demos/demo_03.subtraction/*.o
asm_demos/demo_04.multiplication/*.o
asm_demos/demo_05.division/*.o
asm_demos/demo_06.conditionals_ifs/*.o
asm_demos/demo_07.conditionals_if_elses/*.o

.DS_Store
.vscode

